.searchTerm{
    width: 100%;
    border: 3px solid #1b2428;
    padding: 5px;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
}
.searchButton {
    width: 90px;
    height: 30px;
    border: 1px solid #1b2428;
    background: #21213c;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    color: #b9ab99;
    text-shadow: 0px 5px 10px #b9ab99;
    margin-top: 10px;
    
}
.searchButton:hover {
    background: linear-gradient(to bottom, #21213c 55%, #b9ab99 100%);
    background-color: #b9ab99 ;
}
.clearButton{
    width: 150px;
    height: 30px;
    border: 1px solid #1b2428;
    background: #21213c;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    color: #b9ab99;
    text-shadow: 0px 5px 10px #b9ab99;
    margin-top: 10px;
}
.clearButton:hover {
    background: linear-gradient(to bottom, #21213c 55%, #b9ab99 100%);
    background-color: #b9ab99 ;
}