@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');


.searchTerm{
    width: 100%;
    border: 3px solid #1b2428;
    padding: 5px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: black;
    font-size: 150%;
    font-family:'Inspiration', cursive;
}
.searchButton {
    box-shadow: inset 0px 1px 0px 0px #2d3454;
    background: linear-gradient(to bottom, #21213c 5%, #21213c 100%);
    background-color: #21213c;
    border-radius: 10px;
    border: 1px solid #4e4542;
    display: inline-block;
    cursor: pointer;
    color: #e4e2e0;
    font-family: 'Inspiration', cursive;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 40px;
    margin-left: 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b9ab99;
    margin-left: 20px;
    max-width: 200px;
    max-height: 100px;
    -webkit-text-stroke: 0.1px #060616;

    
}
.searchButton:hover {
    background: linear-gradient(to bottom, #21213c 55%, #b9ab99 100%);
    background-color: #b9ab99 ;
}
.clearButton{
    box-shadow: inset 0px 1px 0px 0px #2d3454;
    background: linear-gradient(to bottom, #21213c 5%, #21213c 100%);
    background-color: #21213c;
    border-radius: 10px;
    border: 1px solid #4e4542;
    display: inline-block;
    cursor: pointer;
    color: #e4e2e0;
    font-family: 'Inspiration', cursive;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 40px;
    margin-left: 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b9ab99;
    margin-left: 20px;
    max-width: 400px;
    max-height: 100px;
    -webkit-text-stroke: 0.1px #060616;
}
.clearButton:hover {
    background: linear-gradient(to bottom, #21213c 55%, #b9ab99 100%);
    background-color: #b9ab99 ;
}